{% extends "@App/MainPage/base.html.twig" %}

{% block title %}Srona główna{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container text-center">
            <h1>dreamjob.com</h1>
            <p>Tutaj jest praca, której szukasz.</p>
        </div>
    </div>


    <div class="services bg-default">
        <div class="container" id="maincontainer">
            <div class="row text-center">
                <div class="col-md-4 col-sm-6">
                    <i class="fa fa-money fa-5x"></i><br><h5>Łatwo pomnóż swoje zyski</h5>
                </div>
                <div class="col-md-4 col-sm-6">
                    <i class="fa fa-smile-o fa-5x"></i><br><h5>Wstawaj codziennie z uśmiechem do pracy</h5>
                </div>
                <div class="col-md-4 col-sm-6">
                    <i class="fa fa-home fa-5x"></i><br><h5>Znajdź pracę bez wychodzenia z domu</h5>
                </div>
            </div>
        </div>

        <div class="container" id="maincontainer">
            <div class="row text-center">
                <div class="col-md-4 col-sm-6">
                    <i class="fa fa-users fa-5x"></i><br><h5>Dołącz do dynamicznego zespołu w wymarzonej pracy</h5>
                </div>
                <div class="col-md-4 col-sm-6">
                    <i class="fa fa-bar-chart fa-5x"></i><br><h5>Porównuj i wybierz najlepszą ofertę dla Ciebie</h5>
                </div>
                <div class="col-md-4 col-sm-6">
                    <i class="fa fa-weixin fa-5x"></i><br><h5>Szybko nawiąż kontakt z przyszłym pracodawcą</h5>
                </div>
            </div>
        </div>
    </div>


{% endblock %}